//
//  project.xcconfig
//  GitHubKit
//
//  Created by Atsushi Nagase on 4/11/12.
//  Copyright (c) 2012 LittleApps Inc. All rights reserved.
//
ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ENABLE_OBJC_ARC = YES
COPY_PHASE_STRIP = YES
DSTROOT = /tmp/GitHubKit.dst
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_DYNAMIC_NO_PIC = NO
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = GitHubKit/GitHubKit-Prefix.pch
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNUSED_VARIABLE = YES
OTHER_LDFLAGS = -ObjC
PRIVATE_HEADERS_FOLDER_PATH = ../../GitHubKit/GitHubKit/private
PRODUCT_NAME = $(TARGET_NAME)
PUBLIC_HEADERS_FOLDER_PATH = ../../GitHubKit/GitHubKit
SKIP_INSTALL = YES
